# Day 9

In [21]:
import pandas as pd
import itertools as it
import re

In [155]:
xmasdata_file = open('./input', mode='r')
data = xmasdata_file.read().splitlines()

In [127]:
dummy="""35
20
15
25
47
40
62
55
65
95
102
117
150
182
127
219
299
277
309
576"""
data = dummy.splitlines()

## Part 1

In [156]:
df=pd.DataFrame([data, [False]*len(data)],index=['number', 'used']).T.astype({'number':'int'})
df

             number   used
0                 1  False
1                15  False
2                32  False
3                16  False
4                 6  False
..              ...    ...
995  75899864178026  False
996  76264095611798  False
997  77346562483010  False
998  78624608936898  False
999  79756715462497  False

[1000 rows x 2 columns]

In [122]:
preamble=25

test=df.copy()
for row in test.itertuples():    
    if row.Index < preamble or row.used:
        continue
    sources = test[test.index.isin(range(row.Index-preamble,row.Index))]
    found=False
    for combination in it.combinations(sources.number,2):
        if sum(combination)==row.number:
            found=True
#            test.loc[test.index[test['number'].isin(combination)].tolist(),'used']=True
            break
#    print('done',row.Index, found)
    if not found:
        print('!!!',row.number)
        break

!!! 15690279

## Part 2

In [157]:
prod_target=15690279
dummy_target=127
target = prod_target
print(target)

15690279

In [158]:
for row in df[df['number']<target].itertuples():
    for start in range(0,row.Index):
        if df[start:row.Index].number.sum()==target :
            [min, max]=(df[start:row.Index].number.min(), df[start:row.Index].number.max())
            print(target,'==>', min, max, 'final:',min+max)

15690279 ==> 769435 1404797 final: 2174232